.flickity {
	&-page-dots {
		@include list-clear();
	}

	&-prev-next-button {
		background: none;
		border: none;
		cursor: pointer;

		& svg {
			display: none;
		}
	}
}

.carousel {
	position: relative;
	$root: &;

	&__cell {
		width: 100%;
	}

	&--promo {
		& .flickity {
			&-page-dots {
				position: absolute;
				display: none;

				@include list-clear();

				@media #{$desktop} {
					display: flex;
					min-height: 20px;
					bottom: 160px;
					right: 50%;
					transform: translateX(50%);
				}

				& > .dot {
					width: 8px;
					height: 8px;
					margin-right: 1.5rem;
					background-color: #ffffff;
					border-width: 4px;
					border-style: solid;
					border-color: transparent;
					border-radius: 50%;
					cursor: pointer;

					&:hover {
						width: 16px;
						height: 16px;
						background-color: transparent;
						border-color: $color-secondary;
						transform: translateY(-25%);
						transition-duration: 0.3s;
					}
				}
			}

			&-prev-next-button {
				position: absolute;
				top: 50%;

				@include retina-sprite($icon_arrow__mobile_group);

				@media #{$desktop} {
					@include retina-sprite($icon_arrow__desktop_group);
				}

				&.previous {
					left: $offset--mobile;
					transform: translateY(-50%) rotate(180deg);

					@media #{$desktop} {
						left: $offset--desktop * 1.5; // 4.5rem
					}
				}

				&.next {
					right: $offset--mobile;
					transform: translateY(-50%);

					@media #{$desktop} {
						right: $offset--desktop * 1.5; // 4.5rem
					}
				}
			}
		}
	}
}
