.flickity {
	&-page-dots {
		position: absolute;
		left: 0;

		@include list-clear();
		justify-content: center;
		align-items: center;
		min-height: 20px;
		width: 100%;

		& > .dot {
			width: 8px;
			height: 8px;
			margin-right: 1.5rem;

			&:last-child {
				margin-right: 0;
			}

			border-width: 4px;
			border-style: solid;
			border-color: transparent;
			border-radius: 50%;

			transition-duration: 0.3s;
			cursor: pointer;

			&:hover {
				width: 16px;
				height: 16px;
			}
		}
	}

	&-prev-next-button {
		background: none;
		border: none;

		cursor: pointer;

		& svg {
			display: none;
		}
	}
}

.carousel {
	position: relative;
	$root: &;

	&::after {
		// enable / disable carousel
		// https://flickity.metafizzy.co/options.html#watchcss
		content: "flickity";
		display: none;

		@media #{$desktop} {
			content: "";
		}
	}

	&__cell {
		width: 100%;
	}

	&--promo {
		& .flickity {
			&-page-dots {
				display: none;

				@media #{$desktop} {
					bottom: 160px;

					display: flex;
				}

				& > .dot {
					background-color: #ffffff;

					&.is-selected {
						background-color: $color-secondary;
					}

					&:hover {
						background-color: transparent;
						border-color: $color-secondary;
					}
				}
			}

			&-prev-next-button {
				position: absolute;
				top: 50%;

				@include retina-sprite($icon_arrow__mobile_group);

				@media #{$desktop} {
					@include retina-sprite($icon_arrow__desktop_group);
				}

				&.previous {
					left: $offset--mobile;
					transform: translateY(-50%) rotate(180deg);

					@media #{$desktop} {
						left: $offset--desktop * 1.5; // 4.5rem
					}
				}

				&.next {
					right: $offset--mobile;
					transform: translateY(-50%);

					@media #{$desktop} {
						right: $offset--desktop * 1.5; // 4.5rem
					}
				}
			}
		}
	}

	&--info {
		@media #{$desktop} {
			@include container();
			display: flex;
			justify-content: center;
			margin-bottom: 5rem;
		}

		& .flickity {
			&-viewport {
				min-height: 130px;
			}

			&-page-dots {
				bottom: 0;

				display: flex;

				& > .dot {
					background-color: lighten($text-color, 50%);

					&.is-selected {
						background-color: $color-primary;
					}

					&:hover {
						background-color: transparent;
						border-color: $color-primary;
					}
				}
			}
		}
	}
}
