mixin list(tree)
	+b('ul').list&attributes(attributes)
		each item in tree
			if item.title
				+e('li').item(data-js='list-item', class='#{!item.isEmpty ? "--top-level --collapsed" : ""}')
					+e('a').link(href='javascript:void(0)', onclick='return false')
						| !{item.title}
					if item.content
						+list(item.content)

