mixin breadcrumbs()
	- list = ['О компании', 'Новости', 'Вакансии', 'Контакты'];
	+b.breadcrumbs&attributes(attributes)
		+e('ul').list
			each item, index in list
				+e.item
					+e('a').link(href='javascript:void(0)', onclick='return false') !{item}
