.user-interaction {
	display: flex;
	margin-bottom: 2rem;

	@media #{$desktop} {
		position: absolute;
		top: 0;
		right: $offset--desktop;

		align-items: center;
		height: 80px;
		margin-bottom: 0;
	}

	&__list {
		display: flex;

		@include list-clear();
	}

	&__item {
		margin-right: 1rem;

		&:last-child {
			margin-right: 0;
		}
	}
}
