.nav {
	display: flex;
	flex-direction: column;

	@media #{$desktop} {
		flex-direction: row;
		flex-basis: 100%;
		order: 5;
		height: 43px;

		transform: translateX(-15%);
	}

	&__list {
		display: flex;
		flex-direction: column;

		@media #{$desktop} {
			flex-direction: row;
			margin: 0 auto;
		}

		&--visible {
			display: flex;
		}

		&--hidden {
			display: none;
		}
	}
}
