include ../input-toggle/input-toggle
include ../nav/nav
include ../list/list

mixin offers()
	+b.offers--visible(data-js='offers')&attributes(attributes)
		+e.fieldset--toggle(role='group')
			+input-toggle(getData('nav-toggle'))(class='--nav-toggle')
		+nav
			+list(getData('business-offers'))(data-modifier='business', class='--business __list --visible')
			+list(getData('home-offers'))(data-modifier='home', class='--home __list')

		+breadcrumbs
		+user-interaction
		+e.fieldset--cities(role='group')
			+cities

