include ../input-toggle/input-toggle
include ../plan/plan

mixin plans(list)
	+b.plans&attributes(attributes)
		+e('div').container-fluid
			+e('div').container
				+e('div').fieldset--controls(role='group')&attributes(attributes)
					+e('header').heading
						| Выгодные предложения<br>для&nbsp;различных направлений бизнеса:
					+input-toggle(getData('plans-toggle'))(class='--plans-toggle')
				+e('ul').list(data-js='plans-list')
					each item in list
						+plan(item)(class='__item #{(item.isVisible) ? "--visible" : ""}', data-js='plans-item')
