// Links

a {
	text-decoration: none;
	color: $link-color;
	background-color: transparent;

	&:link,
	&:visited {
		color: $link-color;
	}

	&:hover {
		color: $link-color--hover;
		transition-duration: .3s;
	}

	&:active {
		color: $link-color--active;
		transition-duration: 0s;
	}
}
