// Mixins

// Set element size
@mixin size($width, $height: $width) {
	width: $width;
	height: $height;
}

// Set margin on left & right
@mixin margin-x($margin) {
	margin-right: $margin;
	margin-left: $margin;
}

// Set margin on top & bottom
@mixin margin-y($margin) {
	margin-top: $margin;
	margin-bottom: $margin;
}

// Set pading on left & right
@mixin padding-x($padding) {
	padding-right: $padding;
	padding-left: $padding;
}

// Set padding on top & bottom
@mixin padding-y($padding) {
	padding-top: $padding;
	padding-bottom: $padding;
}

// Set fixed ontainer
@mixin container() {
	min-width: $container--min;
	max-width: $container--max;
	margin: 0 auto;
}

// Set fluid container
@mixin container-fluid() {
	width: 100%;
	margin: 0 auto;
}

// Clear default list styles
@mixin list-clear() {
	margin: 0;
	padding: 0;
	list-style: none;
}

// Set one static retina image
@mixin retinaBackground($image, $ext: "png") {
	background-image: url("../images/" + $image + "." + $ext);

	@media #{$retina2x} {
		background-image: url("../images/" + $image + "@2x." + $ext);
	}
}

// Set button properties
@mixin btn($padding-x: 4.5rem, $padding-y: 1.5rem) {
	display: flex;
	justify-content: center;

	@include padding-x($padding-x);
	@include padding-y($padding-y);

	font-size: $font-size;
	line-height: 1;
	font-family: $font-family;
	font-weight: 400;
	white-space: nowrap;
	color: #ffffff;
	vertical-align: middle;

	cursor: pointer;
	user-select: none;

	&:hover,
	&--hover {
		transition-duration: 0.3s;
	}

	&:active,
	&--active {
		outline: 0;
	}

	&:disabled,
	&--disabled {
		cursor: not-allowed;
		pointer-events: none;
	}
}
