extends ../blocks/layout-default/layout-default

//- page-header
include ../blocks/page-header/page-header
include ../blocks/cities/cities
include ../blocks/offers/offers
include ../blocks/user-interaction/user-interaction
include ../blocks/breadcrumbs/breadcrumbs

//- main-content
include ../blocks/main-content/main-content
include ../blocks/slider/slider
include ../blocks/plans/plans

block head
	- var pageTitle = 'Prosto Telecom';

block content
	+page-header
		+offers
	+main-content
		+slider(getData('slides-list'))
		+plans(getData('plans-list'))

