extends ../blocks/layout-default/layout-default

include ../blocks/page-header/page-header
include ../blocks/cities/cities
include ../blocks/offers/offers
include ../blocks/user-interaction/user-interaction
include ../blocks/breadcrumbs/breadcrumbs
block head
	- var pageTitle = 'Prosto Telecom';

block content
	+page-header
		+offers

