mixin template()
	+b('template').slide(data-js='template', class='template')
			+e.container-fluid
				+e.container
					+e('header').heading %heading%
					+e('p').body %body%
					+e('span').date %date%
