mixin page-header()
	+b('header').page-header--colorized&attributes(attributes)
		+e.logo
			+e('a').link--hidden(href='index.html')
				| Prosto Telecom
				+e('a').toggle--close(data-js='offers-toggle', href='javascript:void(0)', onclick='return false')
					+e.icon
		block
