include ../input-toggle/input-toggle


mixin info()
	+b.info(data-js='info')&attributes(attributes)
		+e.fieldset--toggle(role='group')
			+input-toggle(getData('info-toggle'))(data-js='info-toggle', class='--info-toggle')
		+e('div').content
			+e('div').item--visible(data-js='info-item', data-modifier='news')
				+b('div').carousel--info
					block
				+e('button')(onclick='return false').btn--load-more
					| Еще новости
			//- +e('div').item(data-js='info-item', data-modifier='issues')
			//- 	+b('div').carousel--info
			//- 		block
			//- 	+e('button')(onclick='return false').btn--load-more
			//- 		| Еще публикации
