include ../input-toggle/input-toggle
include ../carousel/carousel


mixin info()
	+b.info(data-js='info')&attributes(attributes)
		+e.fieldset--toggle(role='group')
			+input-toggle(getData('info-toggle'))(class='--info-toggle')
		+e('div').content
			+e('div').news--visible
				+carousel(getData('news-slides'))(class='--news')
				+e('button')(onclick='return false').btn--load-more
					| Еще новости
			+e('div').issues
				+carousel(getData('issues-slides'))(class='--issues')
				+e('button')(onclick='return false').btn--load-more
					| Еще публикации
