include ../input-toggle/input-toggle
include ../carousel/carousel


mixin info()
	+b.info(data-js='info')&attributes(attributes)
		+e.fieldset--toggle(role='group')
			+input-toggle(getData('info-toggle'))(data-js='info-toggle', class='--info-toggle')
		+e('div').content
			+e('div').item--visible(data-js='info-item', data-modifier='news')
				+carousel(getData('news-slides'))(class='--info', , data-flickity='{ "cellSelector": ".carousel__cell", "prevNextButtons": "false", "watchCSS": "true", "wrapAround": "true" }')
				+e('button')(onclick='return false').btn--load-more
					| Еще новости
			+e('div').item(data-js='info-item', data-modifier='issues')
				+carousel(getData('issues-slides'))(class='--info')
				+e('button')(onclick='return false').btn--load-more
					| Еще публикации
