include ../select/select

mixin cities()
	+b('div').cities(data-js='cities')
		+e('div').wrapper(data-js='cities-wrapper', data-value='+7 (812) 366 40 40')
			+select(getData('cities'))(class='--cities __select')
