.radio {
	$root: &;

	&--nav-toggle,
	&--info-toggle {
		display: flex;

		&:last-child {
			#{$root}__caption {
				padding-right: 0;

				&::after {
					width: 100%;
				}
			}
		}

		& #{$root}__input {
			display: none;

			&:checked {
				& + #{$root}__caption::after {
					display: flex;
				}
			}
		}

		& #{$root}__caption {
			position: relative;
			padding-right: 2rem;

			line-height: 1;
			font-weight: 500;
			transition-duration: 0.3s;

			@media #{$desktop} {
				font-size: $font-size * 1.25; // 2rem
				line-height: 1.3;
			}

			&::after {
				content: "";
				position: absolute;
				bottom: 0;

				display: none;
				width: calc(100% - 2rem);
				height: 4px;

				background-color: $color-secondary;
			}
		}
	}

	&--nav-toggle {
		& #{$root}__caption {
			padding-top: 2rem;
			padding-bottom: 1rem;

			color: #ffffff;
			opacity: 0.2;

			@media #{$desktop} {
				padding-top: 0;

				color: #d2d2d2;
				opacity: 1;
			}
		}

		& #{$root}__input {
			&:checked {
				& + #{$root}__caption {
					opacity: 1;

					@media #{$desktop} {
						color: $color-primary;
						opacity: initial;
					}
				}
			}
		}
	}

	&--info-toggle {
		& #{$root}__caption {
			padding-bottom: 0.5rem;

			font-size: $font-size;
			color: lighten($text-color, 50%);

			@media #{$desktop} {
				padding-bottom: 0.5rem;

				font-size: $font-size * 1.625 // 2.6rem
			}

			&::after {
				@media #{$desktop} {
					height: 6px;
				}
			}
		}

		& #{$root}__input {
			&:checked {
				& + #{$root}__caption {
					color: $color-primary;
				}
			}
		}
	}

	&--plans-toggle {
		display: flex;
		flex-direction: column;
		justify-content: center;
		flex-wrap: wrap;
		flex-basis: 25%;

		@media #{$desktop} {
			flex-basis: calc(20%);
		}

		& #{$root}__input {
			display: none;

			&[name="plans-toggle"]:checked {
				& + #{$root}__caption {
					&::after {
						display: flex;
					}
				}
			}

			&[data-modifier="retail"] {
				& + #{$root}__caption {
					&::before {
						@include retina-sprite($icon_retail_group);
					}
				}

				&:checked {
					& + #{$root}__caption {
						&::before {
							@include retina-sprite($icon_retail_active_group);
						}
					}
				}
			}

			&[data-modifier="wi-fi"] {
				& + #{$root}__caption {
					&::before {
						@include retina-sprite($icon_wi-fi_group);
					}
				}

				&:checked {
					& + #{$root}__caption {
						&::before {
							@include retina-sprite($icon_wi-fi_active_group);
						}
					}
				}
			}

			&[data-modifier="call-centers"] {
				& + #{$root}__caption {
					&::before {
						@include retina-sprite($icon_call_centers_group);
					}
				}

				&:checked {
					& + #{$root}__caption {
						&::before {
							@include retina-sprite($icon_call_centers_active_group);
						}
					}
				}
			}

			&[data-modifier="logistics"] {
				& + #{$root}__caption {
					&::before {
						@include retina-sprite($icon_logistics_group);
					}
				}

				&:checked {
					& + #{$root}__caption {
						&::before {
							@include retina-sprite($icon_logistics_active_group);
						}
					}
				}
			}

			@media #{$desktop} {
				&[name="plans-toggle"] {
					& + #{$root}__caption {
						white-space: nowrap;
					}
				}
			}
		}

		& #{$root}__caption {
			position: relative;

			display: flex;
			align-items: center;
			justify-content: center;
			min-height: 10rem;
			padding-top: 7rem;

			font-size: $font-size * 0.8125; // 1.3rem
			line-height: 1.2;
			font-weight: 300;
			color: $color-primary;
			text-align: center;

			transition-duration: 0.3s;

			cursor: pointer;

			@media #{$desktop} {
				justify-content: initial;
				padding-top: initial;
				padding-left: calc(62px + 20px);

				font-size: $font-size * 1.125; // 1.8rem
				line-height: 1;
				text-align: left;
			}

			&::before {
				content: "";
				position: absolute;
				left: 50%;
				top: 0;

				transform: translateX(-50%);

				@media #{$desktop} {
					left: 0;
					top: calc(50% - 31px);

					transform: translateX(0);
				}
			}

			&::after {
				content: "";
				position: absolute;
				left: 50%;
				bottom: -25px;
				z-index: 5;

				display: none;
				width: 0;
				height: 0;

				border-top: 20px solid #eff2f9;
				border-right: 20px solid transparent;
				border-left: 20px solid transparent;

				transform: translateX(-50%) translateY(100%);

				@media #{$desktop} {
					bottom: -30px;
				}
			}
		}
	}
}


