mixin plan(item)
	+b('li').plan(data-modifier=item.modifier)&attributes(attributes)
		+e('a').link(href='javascript:void(0)', onclick='return false')
			+e('div').heading
				header
					span !{item.heading}
		+e('p').description !{item.description}
		+e('button')(onclick='return false').btn--make-request
			| Запросить коммерческое предложение
