include ../slide/slide

mixin slider(list)
	+b('ul').slider&attributes(attributes)
		each item, index in list
			+slide(item, index)(class='__slide')

		//- +e('span').prev(class='js_prev')
		//- 	| previous slide
		//- +e('span').next(class='js_next')
		//- 	| next slide
		//- +e('ul').dots(class='js_slider-dots')
